[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/solarized-theme"]
	path = vim/bundle/solarized-theme
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "vim/bundle/nerd-commenter"]
	path = vim/bundle/nerd-commenter
	url = https://github.com/scrooloose/nerdcommenter.git
